/* Custom styles for Project 1 only */

body {
  /* Override the background for Project 1 */
  background: url('../../assets/players.png') repeat;
}

/* Hero Section */
.hero {
  background: url('../../assets/ics2.png') repeat;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  color: #fff;
  background-color: black;
}

.hero h1 {
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 20px 20px 24px rgba(0, 0, 0, 1);
}

.hero p {
  padding-top: 0px;
  font-size: 1.2rem;
  max-width: 600px;
  line-height: 1.5;
  text-shadow: 20px 20px 24px rgba(0, 0, 0, 1);
}